{% extends 'base.html' %}
{% block title %}

	<title>Назначить курс</title>
{% endblock %}

{% block main %}
		<div class="featured">
            <div class="featured-menu"></div>
        <ul>
            <li><a href="/students/">Список студентов</a></li>
            <li><a href="/newstudent/">Создать студента</a></li>
	    </ul>
    <h1>Назначить студента на курс</h1>
    <form method="post">
        <select size="3" name="course_name">
            {% for item in courses %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="student_name">
            {% for item in students %}
            <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-light" type="submit">Записать</button>
    </form>
        </div>

{% endblock %}