<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" rel="noopener"  href="general.css">
</head>
<body>
<div menu>
	<ul class="menu">
		<li><a href="/">Home</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/contact/">contact us</a></li>
    </ul>
</div>
<h1>Напишите нам.</h1>

		<form action="" method="post">
			<fieldset>
				<legend>Представьтесь</legend>
				<p><label class="title" for="name">Ваше имя:</label>
					 <input type="text" name="name" id="name"><br />
					 <label class="title" for="email">Ваш email:</label>
					 <input type="text" name="email" id="email"></p>
                      <label class="title" for="text">Ваше сообщение</label>
					 <input type="text-block" name="text" id="text" minlength="4" maxlength="800" size="100"></p>
			</fieldset>
 	    <div class="submit"><input type="submit" value="отправить!" /></div>
		</form>
</body>
</html>