{% extends 'base.html' %}
{% block title %}
	<title>Магазин</title>
{% endblock %}

{% block main %}
		<div class="featured">
{#			<div class="featured-menu">#}
{#					<a class="active" href="#">Популярные</a><a href="#">Новинки</a>#}
{#			</div>#}
{#			<a class="explore" href="#">показать все <img src="arrow.png" alt=""></a>#}
{#			{% block clearfix %}#}
{#            <div class="clearfix">#}
{#			</div>#}
{#            {% endblock %}#}
{#			<div class="tab-content">#}

             <div>

        <br>
        <h1>Все курсы категории "{{name}}"</h1>
        {% for course in objects_list %}
        <li>
            {{course.name}} <span><a href="/copycourse/?name={{course.name}}">скопировать</a></span>
        </li>
        {% endfor %}
             <a href="/addcourse/?id={{id}}">Добавить новый курс</a>
             <a href="/categories/">Назад в категории</a>
    </div>

            </div>
        </div>
{% endblock %}