{% extends 'base.html' %}
{% block title %}

	<title>Магазин</title>
{% endblock %}

{% block main %}
    <h1>Список существующих категорий</h1>
		<div class="featured">
			<div class="featured-menu">
			</div>
        <div class="tab-content">
        <ul>
        {% for category in objects_list %}
            <li>
                {{category.name}} <span>Количество курсов: {{category.course_count()}}</span>
                <a href="/courses/?id={{category.id}}">Показать курсы категории</a>
            </li>
        {% endfor %}
        </ul>
        </div>
<div>
                <ul>
                <li><a href="/addcategory/">Создать новую категорию</a></li>

                <li><a href="/categories/">Все категории</a></li>
                    </ul>
            </div>

                <div>

                </div>
	</div>
		</div>
    {% block clearfix %}
            <div class="clearfix">

			</div>
            {% endblock %}
{% endblock %}
