{% extends 'base.html' %}
{% block title %}
	<title>Создать студента</title>
{% endblock %}

{% block main %}
		<div class="featured">
            <div class="featured-menu"></div>
                <li><a href="/students/">Список студентов</a></li>
            <div class="input-group mb-3">
                <h4>Создание студента</h4>
                <form method="post">
                    <input  class="form-control" type="text" name="name" placeholder="Имя">
                    <button class="btn btn-light" type="submit">Сохранить</button>
                </form>
            </div>
            </div>

{% endblock %}