{% extends 'base.html' %}
{% block title %}
	<title>Магазин</title>
{% endblock %}

{% block main %}
		<div class="featured">
{#			<div class="featured-menu">#}
{#					<a class="active" href="#">Популярные</a><a href="#">Новинки</a>#}
{#			</div>#}
{#			<a class="explore" href="#">показать все <img src="arrow.png" alt=""></a>#}
{#			{% block clearfix %}#}
{#            <div class="clearfix">#}
{#			</div>#}
{#            {% endblock %}#}
{#			<div class="tab-content">#}

             <div>
         <h1>Создание курса категории "{{name}}"</h1>
        <form method="post">
            <input type="text" name="course_name" placeholder="Название курса">
            <button type="submit">Сохранить</button>
        </form>
    </div>

            </div>
        </div>
{% endblock %}